In [4]:
import pandas as pd
import os
import datetime

df_list = []

for filename in os.listdir('./networks'):
    if filename.endswith('.csv'):
        date = pd.to_datetime(filename.split('.')[0], format='%Y-%m-%d')
        temp_df = pd.read_csv(os.path.join('./networks', filename))
        
        # add a single index for all rows
        temp_df['date'] = date
        temp_df.set_index('date', inplace=True)
        
        df_list.append(temp_df)

# Concatenate the list of DataFrames into a single DataFrameb ,nb 
df = pd.concat(df_list, axis=0)

df.head().sort_index()

                            Source        Target        value  nb_transactions
date
2015-01-01  ePay.info_CoinJoinMess  CloudBet.com      3519173                1
2015-01-01                  Cex.io          1956      8491196                3
2015-01-01                  157228     C-Cex.com  10833480021                1
2015-01-01                       0           421     27123449                8
2015-01-01            BTCGuild.com        787953   2507884460                1

In [5]:
df.index

DatetimeIndex(['2015-01-01', '2015-01-01', '2015-01-01', '2015-01-01',
               '2015-01-01', '2015-01-01', '2015-01-01', '2015-01-01',
               '2015-01-01', '2015-01-01',
               ...
               '2017-06-09', '2017-06-09', '2017-06-09', '2017-06-09',
               '2017-06-09', '2017-06-09', '2017-06-09', '2017-06-09',
               '2017-06-09', '2017-06-09'],
              dtype='datetime64[ns]', name='date', length=5876734, freq=None)