In [25]:
import pandas as pd
import os
import datetime

df_list = []

for filename in os.listdir('DefiEGC2024/networks'):
    if filename.endswith('.csv'):
        date = pd.to_datetime(filename.split('.')[0], format='%Y-%m-%d')
        temp_df = pd.read_csv(os.path.join('DefiEGC2024/networks', filename))
        
        # add a single index for all rows
        temp_df['date'] = date
        temp_df.set_index('date', inplace=True)
        
        df_list.append(temp_df)

# Concatenate the list of DataFrames into a single DataFrameb ,nb 
df = pd.concat(df_list, axis=0)

df.head().sort_index()

,Source,Target,value,nb_transactions
date,,,,
2016-06-20,4473692,424,10219675,1
2016-06-20,69879229,44,4006815,2
2016-06-20,51740,50250,399990000,1
2016-06-20,1391,HolyTransaction.com,78899038,1
2016-06-20,ePay.info_CoinJoinMess,47313,1164758344,1

In [24]:
df.index

DatetimeIndex(['2016-06-20', '2016-06-20', '2016-06-20', '2016-06-20',
               '2016-06-20', '2016-06-20', '2016-06-20', '2016-06-20',
               '2016-06-20', '2016-06-20',
               ...
               '2016-03-01', '2016-03-01', '2016-03-01', '2016-03-01',
               '2016-03-01', '2016-03-01', '2016-03-01', '2016-03-01',
               '2016-03-01', '2016-03-01'],
              dtype='datetime64[ns]', name='date', length=5876734, freq=None)